<?xml version="1.0" encoding="windows-1252" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://federalresources.com/ns/1.0"
        id        = "com.federalresources.hazmatiqguru"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>HazmatIQ Guru</name>

    <description>
        A chemical identification response guide for first responders. 
    </description>

    <author href="http://www.federalresources.com" email="support@federalresources.com">
        Federal Resources 
    </author>

</widget>
